.table {
    border-radius: 5px;
    margin: 0px auto;
    float: none;
}

.jumbotronajaxdiv {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    color: inherit;
    background-color: #eee;
    border-radius: 5px;
}

.divfooter {
}

#divajaxCall h3 {
    text-align: center;
}

#divScroll {
    overflow: scroll;
    border: inherit;
}
#divScroll h3 {
        text-align: center;
}
