@model IEnumerable<LazyLoadingDemo.Product>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Price)</td>
        <td> @Html.DisplayFor(modelItem => item.ProductDescription)</td>
    </tr>
}
